.filterContainersContainer {
  border-color: hsl(0deg 0% 88%);
  box-shadow: 0 0 3px 3px hsl(0deg 0% 88%);
  display: flex;
  margin: 0 auto;
  outline: none;
  padding: 8px;
  position: relative;
}

.filterWrapper {
  appearance: none;
  box-shadow: 0 0 10px 3px hsl(0, 0%, 88%);
  width: 200px;
}
