.header {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 3px 5px 0 rgba(242, 242, 242, 1);
  color: #000;
  height: 66px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.headerTitle {
  display: block;
  font-size: 32px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 50px;
  position: relative;
  top: 10px;
}
